<template>
  <Story
    title="Composables"
    docs-only
    icon="la:book-open"
    group="docs"
  />
</template>

<docs lang="md">

![](/composables.svg)

## @gun-vue/composables

GunVue Composables is a collection of utility functions based on [Vue 3 Composition API](https://v3.vuejs.org/guide/composition-api-introduction.html). We assume you are already familiar with the basic ideas of Composition API and [script setup](https://learnvue.co/2021/05/explaining-the-new-script-setup-type-in-vue-3-major-takeaways-from-the-rfc/#using-script-setup-with-a-normal-script) before you continue.

### How to install?

```shell
pnpm i @gun-vue/composables
```

### How to use?

```js
import { useUser } from "@gun-vue/composables";

const user = useUser();
```



{{#modules~}}
{{#if @first~}}
{{>heading-indent}}Modules

<table>
  <thead>
    <tr>
      <th>Module</th><th>Description</th>
    </tr>
  </thead>
  <tbody>
{{/if~}}
    <tr>
    <td><a href="#{{{toLowerCase name}}}" >{{name}}</a></td>
    <td>{{{md (inlineLinks description)}}}</td>
    </tr>
{{#if @last~}}
  </tbody>
</table>

{{/if~}}
{{/modules}}

{{#orphans ~}}
{{>header~}}
{{>body}}
{{>member-index~}}
{{>separator~}}

{{#children inherited=undefined ~}}
{{>heading-indent}}{{>sig-name}}
  {{>deprecated~}}
  {{>description~}}

  {{>summary~}}
  {{>augments~}}
  {{>implements~}}
  {{>mixes~}}
  {{>default~}}
  {{>chainable~}}
  {{>overrides~}}
  {{>returns~}}
  {{>category~}}
  {{>throws~}}
  {{>fires~}}
  {{>this~}}
  {{>access~}}
  {{>readOnly~}}
  {{>requires~}}
  {{>customTags~}}
  {{>see~}}
  {{>since~}}
  {{>version~}}
  {{>authors~}}
  {{>license~}}
  {{>copyright~}}
  {{>todo~}}
  {{>params~}}
  {{>properties~}}
  {{>examples~}}
{{>member-index~}}
{{>separator~}}
{{>members~}}
{{/children~}}

<hr />

{{/orphans~}}

</docs>

<style scoped>
  hr {
    height: 1px;
    background-color: #3333;
    margin: 2em 0 8em 0;
  }

  h3 {
    margin-top: 3em;
  }
</style>