@import "./markdown.css";
@import "./transitions.css";

html {
	scroll-behavior: smooth;
	hyphens: auto;
	overscroll-behavior-y: none;
}

body {
	@apply bg-light-500 dark-bg-dark-200 dark-text-light-200;
	overscroll-behavior-y: none;
	touch-action: pan-x pan-y;
}

#app {
	@apply min-h-100vh max-h-100vh flex;
}

input,
select,
textarea {
	@apply dark-bg-dark-100 p-2 rounded-lg;
}

.button,
button.button {
	@apply p-2 flex font-bold rounded-xl shadow-md hover-shadow-xl  transition-all duration-200 ease-out items-center hover-dark-bg-dark-100 dark-bg-dark-800 bg-light-300;
}

.button:disabled {
	@apply op-50;
}

.button.active {
	@apply bg-dark-100 shadow-xl text-light-300  dark-bg-light-300 dark-text-dark-500;
}

::-webkit-scrollbar {
	width: 10px;
}
