<!DOCTYPE html>
<html>
<head>
  <title>Gun-Vue components</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="">
  <link rel="stylesheet" href="/components/style.css">
    <link rel="icon" type="image/svg+xml" href="/gun-vue-logo.svg"/>
    <link rel="preload" href="/components/vendor.es.js" as="script" crossOrigin="anonymous"><link rel="prefetch" href="/components/StoryView.es.js" as="script" crossOrigin="anonymous">
</head>
<body>
  <div id="app"></div>
    <script type="module" src="/components/components.es2.js"></script>
</body>
</html>